<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Calculation Table</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <h1>Semester Calculation</h1>
        <div class="container">
            <table id="semester-table"></table>
            <button onclick="calculateSemester()">Calculate Average</button>
            <h2 id="result"></h2>
        </div>
        <script src="{{ url_for('static', filename='js/calculator.js') }}"></script>
        <script>
            loadSemester("{{ url_for('semester_data', semester_file=semester_file) }}");
        </script>
    </body>
</html>
